<!DOCTYPE html>
<html>
  <head>
    <title>BasicStore</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container main">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
